body{
    font-family: 'The Nautigal', cursive;;
    font-size: 25px;
    margin: 0;
}
.name-color{
    color: blueviolet;
}
.flexible-container{
    display: flex;
    margin-bottom: 120px;

}
.half-width{
    width: 50%;
    padding-left: 5%

}
.half-width button{
    padding: 15px 40px;
    background-color: orange;
    border-radius: 10px;
}
.half-width button a{
    text-decoration: none;
}
.half-width img{
    width: 80%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}

.dream-big{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}
.last-section{
    color: sandybrown;
}
.experience-item{
    width: 40%;
    box-shadow: 10px 10px 40px grey;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
   

}
.experiences-section{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
#web-dev-item{
    border-left: 7px solid ;
    border-image: linear-gradient(blue cyan);
    border-image-slice: 1;
}
#baby-dev-item{
    border-left: 7px solid ;
    border-image: linear-gradient(blue cyan);
    border-image-slice: 1;
}