body{
    font-family: 'The Nautigal', cursive;;
    font-size: 25px;
    margin: 0;
}
.name-color{
    color: blueviolet;
}
.flexible-container{
    display: flex;
    margin-bottom: 120px;

}
.half-width{
    width: 50%;
    padding-left: 5%

}
.half-width button{
    padding: 15px 40px;
    background-color: orange;
    border-radius: 10px;
}
.half-width button a{
    text-decoration: none;
}
.half-width img{
    width: 80%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}

.dream-big{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    width: 100%;
}
.experience-area h3{
    color: orange;
}

.experience-area div{
    box-shadow: 5px 7px 40px gray;
    margin-left: 10px;
    border-radius: 10px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    width: 40%;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    width: 40%;
}
.footer{
    text-align: center;
    margin-top: 50px;
}